body {
	width: 100%;
	color: #333;
	background-color: #CADBE3;
	font-size: 16px;
}

div.content {
	width: 800px;
	margin: 0 auto;

	box-sizing: content-box;
}

div.url-box {
	padding: 0;
	margin: 5px 0;
}

input#serverUrl {
	width: 698px;
}

.padded-input-url {
	font-size: 1em;
	padding: 10px;
	width: 100px;
	border: 0px solid transparent;
}

.border-box {
	box-sizing: border-box;
}

button.url-button-open {
	background-color: #6E8A66;
	color: #eee;
}

button.url-button-open:hover {
	background-color: #76A668;
	cursor: pointer;
}

button.url-button-close {
	background-color: #B05454;
	color: #eee;
}

button.url-button-close:hover {
	background-color: #CF5151;
	cursor: pointer;
}

div.input-message-box {
	padding: 0;
	margin: 5px 0;
}


/* Message compose styling */
div#editor-view textarea#sendMessage {
	font-family: monospace;
	font-size: 0.85em;
	padding: 10px;

	height: 300px;
	width: 100%;
	box-sizing: border-box;

	border: 0px solid transparent;
}

div#editor-view div.composer {
	box-sizing: border-box;
	vertical-align: top;
	width: 380px;
	display: inline-block;
}

div#editor-view div.message-container {
	box-sizing: border-box;
	width: 380px;
	display: inline-block;
	vertical-align: top;
}

div#editor-view div.message-actions {
	text-align: right;
}

button#sendButton {
	background-color: #357EA6;
	color: #eee;
	font-size: 1em;
	padding: 10px;
	width: 100px;
	border: 0px solid transparent;
}

button#sendButton:hover {
	background-color: #5394B8;
	cursor: pointer;
}

/* Message div styling */
div#messages {
	box-sizing: border-box;
	padding: 10px;
	font-size: 0.85em;
}

a#clearMessage {
	display: inline-block;
	padding: 5px;
	float: right;
	background: rgba(255, 255, 255, 0.75);
  color: rgba(176, 84, 84, 0.75);
  border-radius: 0 0 3px 3px;
  text-decoration: none;
	font-size: 1em;
}

a#clearMessage:hover {
	background: rgba(255, 255, 255, 0.95);
	color: #CF5151;
	cursor: pointer;
